@charset "UTF-8";

.ship_table table{
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
    width: 1000px;
}

.ship_table table tr{
    height: 50px;
    border-bottom: 1px solid black;
}

.ship_table table tr:first-child{
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(202, 218, 210, 0.548);
}

